.button {
  @apply outline-none border-none p-3 cursor-pointer rounded-full text-white bg-primary shadow transition-all hover:bg-primary-hover disabled:hover:bg-primary disabled:cursor-not-allowed disabled:opacity-60;
}

.button--block {
  @apply w-full;
}

.button--red {
  background: var(--red);
}

.button--blue {
  background: var(--blue);
}

.button--flat {
  color: var(--dark-blue);
  background: transparent;
  box-shadow: 0 0 0;
  border: 0;
  text-transform: uppercase;
}

.button--flat:hover {
  background: var(--surfaceSecondary);
}

.button--flat.button--red {
  color: var(--dark-red);
}

.button--flat.button--grey {
  color: #6f6f6f;
}
