.button {
  @apply outline-none py-3 px-5 cursor-pointer rounded-full text-white bg-primary shadow transition-all hover:bg-primary-hover disabled:hover:bg-primary disabled:cursor-not-allowed disabled:opacity-60;
}

.button--block {
  @apply w-full;
}

.button--red {
  background: var(--red);
}

.button--outline--primary {
  @apply bg-white text-primary border border-primary hover:bg-primary/20 transition-all cursor-pointer;
}

.button--primary {
  background: var(--primary);
  color: white;
}

.button--blue {
  background: var(--blue);
}

.button--flat {
  color: var(--primary);
  background: transparent;
  padding: 10px 20px;
  box-shadow: 0 0 0;
  border: 0;
  text-transform: uppercase;
}

.button--flat:hover {
  background: var(--surface-secondary);
}

.button--flat.button--red {
  color: var(--dark-red);
}

.button--flat.button--grey {
  color: #6f6f6f;
}
