.input {
  @apply bg-transparent border-0 p-2 border-b border-gray-200 outline-none text-lg transition-colors focus-visible:border-primary focus:ring-0;
}

.input--block {
  @apply w-full;
}

.input--textarea {
  line-height: 1.15;
  font-family: monospace;
  min-height: 10rem;
  resize: vertical;
}

.input--red {
  background: var(--input-red) !important;
}

.input--green {
  background: var(--input-green) !important;
}
